.AboutMeDiv {
  border-radius: 20px;
  background: rgba(108, 99, 166, 0.8);
  margin-left: 10vw;
  margin-right: 10vw;
  border-radius: 20px;
  padding: 40px;
  margin-bottom: 100px;
}

.DivTitle {
  color: var(--secondary);
}

.Quote {
  color: var(--light-text);
}

.Body {
  color: var(--white);
}

.ButtonsDiv {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.AboutMeInformation {
  display: flex;
  flex-direction: row;
  gap: 4vw;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-bottom: 2vw;
  align-items: center;
}

.AboutMeImage {
  width: 30%;
  height: auto;
  padding-top: 40px;
  border-radius: 10px;
  background-color: var(--primary);
}

.AboutMeQuote {
  width: 70%;
}

.AboutMeColumn img {
  width: 100%;
  height: auto;
}

.AboutMeQuote .Body {
  margin: 0px;
  padding-bottom: 10px;
}

.AboutMeImage {
  text-align: center;
}

.AboutMeImageText {
  padding: 10px;
  font-family: Raleway;
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.2em;
  color: var(--dark-text);
}
