.BattleBuddyImg {
  gap: 40px;
  display: flex;
}

.BattleBuddyImg > img {
  width: 50%;
  height: auto;
  border-radius: 10px;
}

.FinalLogoVariations {
  display: flex;
  gap: 20px;
}

.FinalLogoVariations > img {
  width: 25%;
}

@media screen and (max-width: 1250px) {
  .BattleBuddyImg {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .BattleBuddyImg > img {
    width: 100%;
  }
}
