.progress-div {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 15px;
    margin: 0 20% 0 20%;
    border-color: var(--primary);
}

.progress-div legend {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: var(--primary);
    margin-left: 5%;
    padding: 0 20px 0 20px;
}

.progress-div legend span {
    color: var(--primary-highlight);
}

.progress-bars,
.progress-point {
    list-style: none;
    padding: 0;
}

.progress-bars {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
}

.progress-bars::after {
    content: '';
    width: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: var(--primary-highlight);
}

.progress-point:last-child {
    border: 0px;
    padding-bottom: 0;
}

.progress-point::after {
    content: '';
    width: 10px;
    height: 10px;
    background: var(--primary-highlight);
    border: 2px solid var(--primary-highlight);
    border-radius: 50%;
    position: absolute;
    left: -6px;
    top: 0px;
    z-index: 2;
}

.progress-point {
    position: relative;
}

.progress-content {
    flex-grow: 1;
    margin-left: 5%;
}