.ExperienceDiv {
  background: rgba(191, 181, 255, 0.8);
  padding: 20px 40px;
  border-radius: 10px;
  width: 40%;
}

.ExperienceDivLeft {
  position: left;
}

.ExperienceDivRight {
  position: right;
}

.DivTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.ExperienceTitle {
  font-family: Bohemian Soul;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 110%;
  color: var(--dark-text);
}

.ExperienceLocation {
  font-family: Raleway;
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0.2em;
}

#Timeline .TimelineItem:after,
#Timeline .TimelineItem:before {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.Container {
  max-width: 1100px;
  margin: 30px auto;
  margin-bottom: 80px;
}

#Timeline {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#Timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: var(--terniary);
  left: 50%;
  top: 0;
  position: absolute;
}

#Timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}

#Timeline .TimelineItem {
  position: relative;
}

#Timeline .NotLast {
  margin-bottom: 40px;
}

#Timeline .TimelineItem .TimelineIcon {
  background: var(--terniary);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-left: -23px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

#Timeline .TimelineItem .TimelineIcon img {
  position: relative;
  top: 14px;
  left: 14px;
}

.TimelineIcon img {
  max-width: 23px;
  max-height: 23px;
}

#Timeline .TimelineItem .TimelineContent {
  width: 45%;
  background: var(--terniary);
  padding: 20px;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#Timeline .TimelineItem .TimelineContent h2 {
  padding: 20px;
  letter-spacing: 0.05em;
  background: var(--quinary);
  color: var(--white);
  margin: -20px -20px 0 -20px;
  font-weight: 300;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

#Timeline .TimelineItem .TimelineContent:before {
  content: "";
  position: absolute;
  left: 45%;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid var(--quinary);
}

#Timeline .TimelineItem .TimelineContent.Right {
  float: right;
}

#Timeline .TimelineItem .TimelineContent.Right:before {
  content: "";
  right: 45%;
  left: inherit;
  border-left: 0;
  border-right: 7px solid var(--quinary);
}

.ExperienceButton {
  padding: 5px 15px;
  text-decoration: none;
  background: transparent;
  border: 2px solid var(--dark-text);
  color: var(--dark-text);
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  font-family: Raleway;
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0.1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;
  -webkit-box-shadow: 2px 2px 0 var(--dark-text);
  -moz-box-shadow: 2px 2px 0 var(--dark-text);
  -ms-box-shadow: 2px 2px 0 var(--dark-text);
  box-shadow: 2px 2px 0 var(--dark-text);
}

.ExperienceButton:hover {
  box-shadow: none;
  top: 2px;
  left: 2px;
  -webkit-box-shadow: 2px 2px 0 transparent;
  -moz-box-shadow: 2px 2px 0 transparent;
  -ms-box-shadow: 2px 2px 0 transparent;
  box-shadow: 2px 2px 0 transparent;
}

@media screen and (max-width: 768px) {
  #Timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }

  #Timeline:before {
    left: 0;
  }

  #Timeline .TimelineItem .TimelineContent {
    width: 90%;
    float: right;
  }

  #Timeline .TimelineItem .TimelineContent:before,
  #Timeline .TimelineItem .TimelineContent.Right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid var(--quinary);
  }

  #Timeline .TimelineItem .TimelineIcon {
    left: 0;
  }
}
