.ExperienceList {
  margin-left: 15vw;
  margin-right: 15vw;
}

.ExperienceRow {
  display: flex;
  gap: 40px;
  flex-direction: row;
  padding-bottom: 40px;
}

.ExperienceContainer {
  width: calc((100% / 3));
  background-color: var(--light-text);
  border-radius: 10px;
}

.ExperienceContainerText {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 1100px) {
  .ExperienceRow {
    gap: 20px;
    padding-bottom: 20px;
  }

  .ExperienceList {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media screen and (max-width: 1000px) {
  .ExperienceList {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 800px) {
  .ExperienceRow {
    flex-direction: column;
  }

  .ExperienceContainer {
    width: 100%;
    text-align: center;
  }

  .ExperienceContainerText {
    text-align: left;
  }
}

@media screen and (max-width: 750px) {
  .ExperienceList {
    margin-left: 20px;
    margin-right: 20px;
  }
}
