.TitleHeader {
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 100px;
  height: calc(100vh - 8vh);
}

.TitleHeader > div {
  flex-grow: 1;
}

.ImageColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4vw;
  padding-bottom: 20px;
  background-color: var(--primary);
  border-radius: 20px 20px 4px 4px;
}

.ImageText {
  padding: 20px;
  padding-bottom: 0px;
  text-align: center;
  font-family: Raleway;
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.2em;
  color: var(--dark-text);
}

.ImageColumn img {
  width: 100%;
}

.TextColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 12vw;
}

.Subtitle {
  margin-bottom: 40px;
  width: 50%;
}
