.NavigationMenu {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  gap: 4vw;
  height: 8vh;
  padding-top: 4vh;
  padding-bottom: 4vh;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.NavigationMenu a {
  font-family: Bohemian Soul;
  font-style: normal;
  font-weight: normal;
  font-size: max(1vw, 28px);
  letter-spacing: 0.05em;
  color: var(--light-text);
  text-decoration: none;
  text-shadow: 0px 4px 8px rgba(44, 38, 75, 0.25);
}

.PrimaryNavigationLink {
  display: flex;
  flex-direction: row;
}

.PrimaryNavigationLink .NavigationLink {
  color: var(--secondary);
}

.PrimaryNavigationLink img {
  margin-left: 10px;
}
