.OutlineButton {
  padding: 10px 20px;
  text-decoration: none;
  background: transparent;
  border: 2px solid var(--light-text);
  color: var(--light-text);
  -webkit-box-shadow: 4px 4px 0 var(--light-text);
  -moz-box-shadow: 4px 4px 0 var(--light-text);
  -ms-box-shadow: 4px 4px 0 var(--light-text);
  box-shadow: 4px 4px 0 var(--light-text);
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Raleway";
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0.1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 4px;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.OutlineButton:hover {
  box-shadow: none;
  top: 2px;
  left: 2px;
  -webkit-box-shadow: 2px 2px 0 transparent;
  -moz-box-shadow: 2px 2px 0 transparent;
  -ms-box-shadow: 2px 2px 0 transparent;
  box-shadow: 2px 2px 0 transparent;
}
