.DivTitleDiv {
  margin-top: 100px;
}

.ProjectsList {
  margin-left: 15vw;
  margin-right: 15vw;
}

.ProjectRow {
  display: flex;
  gap: 40px;
  flex-direction: row;
  padding-bottom: 40px;
}

.ProjectContainer {
  width: calc((100% / 3));
  background-color: var(--light-text);
  border-radius: 10px;
}

.ProjectContainerText {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.ProjectContainer img {
  padding: 20px;
  padding-bottom: 0px;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: auto;
}

.ExperienceDescription,
.ExperienceContainerText > .ExperienceDate {
  color: var(--dark-text);
}

.ExperienceContainerText p {
  padding-bottom: 10px;
  margin: 0px;
}

@media screen and (max-width: 1100px) {
  .ProjectRow {
    gap: 20px;
    padding-bottom: 20px;
  }

  .ProjectContainer {
    width: 100%;
    text-align: center;
  }

  .AboutMeImage {
    align-self: center;
  }

  .ProjectContainer > img {
    width: 75%;
    min-width: 300px;
    height: auto;
  }

  .ProjectContainerText {
    text-align: left;
  }

  .ProjectsList {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media screen and (max-width: 1100px) {
  .ProjectsList {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .ProjectsList {
    margin-left: 40px;
    margin-right: 40px;
  }
  .ProjectRow {
    flex-direction: column;
  }

  .ProjectContainer {
    width: 100%;
    text-align: center;
  }

  .ProjectContainer > img {
    width: 75%;
    min-width: 300px;
    height: auto;
  }

  .ProjectContainerText {
    text-align: left;
  }
}

@media screen and (max-width: 750px) {
  .ProjectsList {
    margin-left: 20px;
    margin-right: 20px;
  }
}
