.DivTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.Writing {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 100px;
}

.WritingItem {
  background-color: var(--terniary);
  border-radius: 10px;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.WritingTitle {
  font-family: Bohemian Soul;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 110%;
  color: var(--dark-text);
}
